* {
	font-family: "Microsoft Yahei", arial;
}

html {
	margin: 0;
	padding: 0;
	min-width: 960;
	min-height: 768;
}

body {
	background-image: url("../src/background_2.jpg");
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
}

header #face #img-face {
	
}