* {
	font-family: "Microsoft Yahei";
}

html, body {
	background-image: url("src/background_2.jpg");
	height: 100%;
}

header {
	margin: 0;
	background-image: url("src/background_1.jpg");
}

header #face {
	margin: 10px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

header #htmltitle {
	margin-left: 170px;
	margin-top: 10px;
	height: 110px;
	line-height: 110px;		/*设置文字垂直居中*/
	float: top;
}

header #introduction {
	margin-left: 170px;
	height: 50px;
	float: top;
}

header #social {
	margin: 5px;
	margin-right: 20px;
	float: right;
}

header #social .social-buttons {
	margin: 4px;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
}

header #social .social-buttons:hover {
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}

header #nav {
	margin: 0;
}

header #nav a {
	margin: 30px;
	padding: 10px;
	font-size: 130%;
	font-family: "SimSun";
	font-weight: bold;
	color: #000;
	text-decoration: none;
}

header #nav a:visited {
	font-family: "SimSun";
	color: #000;
}

header #nav a:hover {
	cursor: pointer;
	color: #78B;
}

aside {
	float: right;
	width: 21%;
	height: 500px;
	margin-right: 20px;
	margin-bottom: 50px;
	margin-top: 20px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 7px;
}

aside #weixin_2weima {
	background-image: url("src/weixin.jpg");
	width: 80%;
	height: 60%;
	background-size: contain;
}

article .articles {
	padding: 10px;
	border: 1px solid #000;
	border-radius: 7px;
}

article .articles .divideline {
	font-size: 1%;
	color: #d2d3d5;
	margin-top: 30px;
	margin-bottom: 10px;
	background-image: url("src/divideline.jpg");
	background-repeat: repeat-x;
}

article .articles .article-head {
	font-family: "SimSun";
	font-size: 150%;
	font-weight: bold;
	margin-bottom: 10px;
}

article .articles .article-head a {
	font-family: "SimSun";
	color: #000;
	text-decoration: none;
}

article .articles .article-head a:hover {
	text-decoration: underline;
	color: #78B;
}

article .articles .article-body {
	margin-bottom: 10px;
	text-indent: 35px;
}

article .articles .article-foot {
	color: #78B;
}

footer {
	float: top;
}