header {
	margin: 0px;
	background-color: #addd81;
}

header #face {
	margin: 10px;
	width: 160px;
	height: 160px;
	border-radius: 50%;
	overflow: hidden;
	float: left;
}

header #htmltitle {
	margin-left: 170px;
	margin-top: 10px;
	height: 110px;
	line-height: 110px;		/*设置文字垂直居中*/
	float: top;
}

header #introduction {
	margin-left: 170px;
	height: 50px;
	float: top;
}

header #social {
	margin: 5px;
	float: right;
}

header #social #button-facebook {
	background-image: url("src/facebook.png");
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
	background-color: #addd81;
}

header #social #button-facebook:hover {
	background-image: url("src/facebook.png");
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}

header #social #button-twitter {
	background-image: url("src/twitter.png");
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
	background-color: #addd81;
}

header #social #button-twitter:hover {
	background-image: url("src/twitter.png");
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}

header #social #button-weibo {
	background-image: url("src/weibo.png");
	border-radius: 50%;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
	background-color: #addd81;
}

header #social #button-weibo:hover {
	background-image: url("src/weibo.png");
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}

header #social #button-renren {
	background-image: url("src/renren.png");
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
	background-color: #addd81;
}

header #social #button-renren:hover {
	background-image: url("src/renren.png");
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}

header #social #button-zhihu {
	background-image: url("src/zhihu.png");
	border-radius: 50%;
	overflow: hidden;
	width: 30px;
	height: 30px;
	background-size: contain;
	opacity: 0.6;
	filter:alpha(opacity=60);		/*针对IE8及以前的浏览器*/
	background-color: #addd81;
}

header #social #button-zhihu:hover {
	background-image: url("src/zhihu.png");
	opacity: 1.0;
	filter:alpha(opacity=100);		/*针对IE8及以前的版本*/
}